.page{
    width: 100%;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 14px;
    border: 5px solid #3388cc;
    border-radius: 10px;
    box-shadow: 2px 3px 4px black;
    padding: 20px;
}

.infophotoliens{
    height: 250px;
}

.info{
    float: left;
}
.liens{
    float: center;
}

.photo{
    float: right;
}

.section{
    margin-bottom: 70px;
    text-align: justify;
}

.sec-gauche{
    float: left;
    font-weight: bold;
    font-size: 16px;
}

.sec-droite{
    margin-left: 150px;
    margin-top: 40px;
}

h2{
    font-size: 20px;
    color: #3388bb;
    border-bottom: 3px solid #3388dd;
}

.duree{
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
}

.titre{
    font-weight: bold;
    font-size: 16px;
}

#forma-gauche p{
    margin-bottom: 55px;
}

#exp-gauche p{
    margin-top: 29px;
}

#lang-droite-sub{
    margin-top: 5px;
}

#lang-droite{
    line-height: 20px;
}

#interet-droite{
    margin-top: 40px;
}

#interet-droite-int{
    margin-top: 100px;
}

strong{
    font-size: 22px;
}

#conteneur1{
    display: flex;
    flex-wrap: wrap;
    }

.formation{
    width: 80%;
    height: auto;
    background-color: green;
    border-radius: 10px;
    padding: 20px;
}

.experiences{
    width: 80%;
    height: auto;
    background-color: red;
    border-radius: 10px;
    padding: 20px;
}

.competences{
    width: 80%;
    height: auto;
    background-color: yellow;
    border-radius: 10px;
    padding: 20px;
}

.publications{
    width: 80%;
    height: auto;
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
}