* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 200px;
  background-color: #cccccc;
  /* background-image: url(website/Memento/assets/img/background.jpeg); */
}

/* Style the header */
header {
  background-color: #FF7B00;
  border-radius: 10px;
  padding: 15px;
  width: auto;
  height: 300px;
  text-align: center;
  font-size: 20px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 0.6;
  -ms-flex: 0.6;
  flex: 0.6;
  background: #FFE400;
  border-radius: 10px;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  /* background-color: #f1f1f1; */
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #FF9500;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  .section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .conteneur1, .conteneur2, .conteneur3 {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/* Style the photo   */
.img-responsive{
  box-shadow: 4px 8px 20px;
  border-radius: 30px;
  display: block;
  max-width: 50%;
  height: auto;
}


/* Style the footer */
.page{
  width: 100%;
  margin: auto;
  font-family: 'Indie Flower', cursive;
  font-size: 14px;
  padding: 20px;
}

.conteneurheader{
  margin-bottom: 30px;
  text-align: justify;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.sec-gauche{
  float: left;
  font-weight: bold;
  font-size: 16px;
}

.sec-droite{
  margin-left: 150px;
  margin-top: 35px;
  line-height: 1.6;
}

#exp-gauche p{
  margin-top: 3px;
}

h2{
  font-size: 24px;
  color: #536dfe;
  border-bottom: 3px solid #536dfe;
}

.duree{
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}

.titre{
  font-weight: bold;
  font-size: 16px;
}

#forma-gauche p{
  margin-bottom: 40px;
  line-height: 1.7;
}

#lang-droite-sub{
  margin-top: 5px;
}

#lang-droite{
  line-height: 20px;
}

#interet-droite{
  margin-top: 40px;
}

#interet-droite-int{
  margin-top: 100px;
}

strong{
  font-size: 30px;
  color: blue;
  font-style: bold;
}

/* section pour experiences, formation, competences, publications */
.art{
  margin-bottom: 35px;
  text-align: justify;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#conteneur1, #conteneur2, #conteneur3{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.experiences{
  width: 90%;
  background-color: red;
  border-radius: 10px;
  padding: 20px;
}

.formation{
  width: 90%;
  background-color: green;
  border-radius: 10px;
  padding: 20px;
}

.competences{
  width: 90%;
  background-color: yellow;
  border-radius: 10px;
  padding: 20px;
  line-height: 0.7;
}

.publications{
  width: 90%;
  background-color: blue;
  border-radius: 10px;
  padding: 20px;
}
.liens{
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

/* pour styler les flexboxes Logiciels */

.flex-container-logiciels {
  display: flex;
  flex-wrap: wrap;
}

.flex-container-logiciels > div {
  margin: 10px;
  text-align: center;
  font-size: 16px;
  padding: 2px;
  border: 1px solid #cccccc;
  background-color: #f1f1f1;
}
/* pour styler les flexboxes Langues */
.flex-container-langues {
  display: flex;
  flex-wrap: wrap;
}

.flex-container-langues > div {
  margin: 10px;
  text-align: center;
  font-size: 16px;
  padding: 2px;
}

/* Progress bar */
progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
